<header th:fragment ="header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top rounded">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li th:if="${session.user == null}"
                class="nav-item active">
          <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li th:if="${session.user == null}"
                class="nav-item">
          <a class="nav-link" th:href="@{/users/login}">Login</a>
        </li>
        <li th:if="${session.user == null}"
                class="nav-item">
          <a class="nav-link" th:href="@{/users/register}">Register</a>
        </li>
        <li th:if="${session.user != null}"
            class="nav-item active">
          <a class="nav-link" th:href="@{/home}">Home</a>
        </li>
        <li th:if="${session.user != null}"
                class="nav-item">
          <a class="nav-link" th:href="@{/ships/add}">Add Ship</a>
        </li>
        <li th:if="${session.user != null}"
                class="nav-item">
          <a class="nav-link" th:href="@{/users/logout}">Logout</a>
        </li>
      </ul>
      <a class="nav-link" href="/">
        <img width="50px" src="/images/ufo.png" alt="Ufo image">
      </a>
    </div>
  </nav>
</header>