.card{
    width: 30%;
    background-image: linear-gradient(to right top, #9e31c6, #ab39c9, #b842cc, #c54bd0, #d154d3);    border: 10px solid black;
    margin: 20px;
    display: inline-block;
}

.card-name{
    
    border: 2px solid black;
    margin: 8px;
}
.card-name img{
   width: 27px;
   display: inline-block;
}
.card-name h1{
    width: 90%;
    display: inline-block;
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    font-weight: 700;
    font-size: 20px;
    padding: 4px;
    padding-left: 8px;
}
/*Header over---------------------------------------------------------*/
.card-span{
    width: 96.5%;
    text-align: end;
    margin-bottom: 6px;
    margin-top: -2px;
}
.card-span span{
    text-transform: uppercase;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 13px;
}
/*img start -----------------------------------------------------------*/
.card-container img{
width: 100%;
margin-bottom: -5px;
overflow: hidden;
}

.card-container{
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    border: 6px solid gray;
}
/*card after image ----------------------------------------------------------*/
.card-afterimage{
    text-align: end;
    width: 95%;
    margin-top: -13px;
    padding-bottom: 2px;
}
.card-afterimage span{
    text-transform: uppercase;
    font-size: 15px;
}
/*card infoo----------------------------------------------------------------*/
.card-info{
    border: 5px solid yellow;
    height: 100px;
    width: 95%;
    margin: auto;
    background-color: antiquewhite;
}

.card-info p{
    padding: 5px;
}
/* card footer -----------------------------------------------------------------*/
.card-data{
    margin-top: -2px;
    margin-bottom: -4px;
    
}
.card-data p{
    display: inline-block;
    font-size: small;
    margin-bottom: 6px;
    padding-left: 4px;    
    
}
.card-data-left{
    margin-left: 250px;
}
.card-data-left img{
    width: 19px;
    vertical-align: bottom;
}