<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>IMDB: Top 5 Episodes</h2>
<table border="solid" width="100%">
    <tr>
        <th>Title</th>
        <th>Episode
        </th>
        <th>Rating
        </th>
    </tr>

    <tr>
        <td>Breaking Bad</td>
        <td>Ozymandias</td>
        <td>10.0</td>
    </tr>
    <tr>
        <td>Breaking Bad</td>
        <td>Ozymandias</td>
        <td>10.0</td>
    </tr>
    <tr>
        <td>Breaking Bad</td>
        <td>Ozymandias</td>
        <td>10.0</td>
    </tr>
    <tr>
        <td>Breaking Bad</td>
        <td>Ozymandias</td>
        <td>10.0</td>
    </tr>
    <tr>
        <td>Breaking Bad</td>
        <td>Ozymandias</td>
        <td>10.0</td>
    </tr>
    <tr th:object = "${movie}">
        <td th:text="*{name}"></td>
        <td th:text="*{something}"></td>
        <td th:text="*{rate}"></td>
    </tr>
</table>



</body>
</html>