<!DOCTYPE html>
<html lang="en">
<head th:replace = "~{fragments/head}"></head>
<body>

<header th:replace = "~{fragments/header}"></header>
<main>
    <div class="container">
        <h2 class="text-center text-dark bg-light rounded-circle mt-5">All employees</h2>
        <hr style="width: 50%"/>
        <div class='row mb-4 d-flex justify-content-around'>

				<div th:each = "employee : ${allEmployees}"
                        class="col-md-4 d-flex flex-column bg-text mb-3 rounded">
                    <h2 th:text="'Full name: ' + ${employee.firstName} + ' ' + ${employee.lastName}"></h2>
                    <h4 th:text = "'Job title: ' + ${employee.jobTitle}"></h4>
                    <h4 th:text="'Birth Date: '+
                    ${#dates.format(employee.birthDate, 'yyyy-MM-dd')}"></h4>
                    <h4><a class="btn-block" th:href="@{/employees/details}">Detail info</a></h4>
                </div>
          
        </div>
    </div>
</main>

<footer id="footer">
    <div class="container-fluid bg-transparent rounded">
        <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
    </div>
</footer>
</body>
</html>