<nav th:fragment = "adminNav" class="main-nav">
  <ul>
    <li>
      <a th:href="@{/routes/add}">Add new route</a>
    </li>
    <li>
      <a th:href="@{/users/profile}">Profile</a>
    </li>
    <li>
      <a th:href="@{/users/admin}">Admin</a>
    </li>
    <li>
      <form th:action="@{/users/loggout}"
            th:method="POST">
        <button type="submit"
                style="width: 100%; height: 100%"
                th:href="@{/users/loggout}">Logout</button>
      </form>
    </li>
  </ul>
</nav>