html{
    
    font-family: Helvetica, sans-serif;
    background-color:rgb(238, 238, 238) ;
}
img{
    width: 400px;
}
body article{
    width: 58%;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    
}

body aside{
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    
}

body article header p{
    size: 200px;
}



