body ul li img{
    border:solid 0.4rem black;
    width: 23%;
    padding: 8px;
    margin: 2px;
}

body ul li{
    padding-left: 10px;
}

body ul li img.small{
    margin-bottom:90px;
}
body ul {
    margin-top: 50px;
}

