@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&family=Poppins:ital,wght@0,200;0,300;1,100;1,200;1,400&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.all{
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 60px;
    justify-content: center;
    width: 1440px;
    font-size: 20px;
    
}

body h2,h1{
    font-family: 'Montserrat', sans-serif;
}
body .section{
    width: 50%;

}

body .body--image{
    width: 50%;
}

.section .container{
    list-style: none;
    padding: 0;
    padding-top: 15px;
}

.section p{
    padding-bottom: 14px;
}

.section h1{
    padding-bottom: 20px;
}

.section .container--item{
    display: flex;
    padding-bottom: 30px;
    gap: 20px;
    
}
.section .container--item img{
    width: 60px;
}

.section .container--item img,p,h2{
    margin: 0;
    padding: 0;
}
