@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
h1,h2,h3,h4{
    font-family: 'Poppins', sans-serif;
}
p,li{
    font-family: 'Open Sans', sans-serif;
}

.title{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}
.title--right-logo{
    width: 110px;
}
.title--left{
    list-style: none;
    display: flex;
    gap:25px;
}

.first{
    position: relative;
    width: 100%;
    height: 600px;
}
.first--backgrand{
    width: 100%;
    height: 100%;
}
.first--backgrand--image{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.fitst--dog{
    width: 40%;
    height: 97%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top:63%;
}

.fitst--dog--image{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.first--text{
    position: absolute;
    top: 20%;
    right: 65%;
    width: 330px;
    display: flex;
    flex-direction: column;

}
.first--text--h1{
    font-size: 70px;
    font-weight: 100;
    color: white;
}
.first--text--h2{
    font-size: 70px;
    color: white;
}
.first--text--p{
    width: 85%;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 30px;
    color: white;
}
.first--text--span{
    background-color: rgb(252, 252, 252);
    border-radius: 30%;
    color: orangered;
    padding: 12px;
    width: 130px;
    font-size: 19px;
    text-align: center;

}

.second{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.second--title{
    text-align: center;
}
.second--title--h2{
    font-size: 40px;
}
.second--title--p{
    width: 440px;
    font-size: 12px;
}

.second--list{
    padding-top: 30px;
    list-style: none;
    display: flex;
    gap:50px;
    justify-content: center;
}
.second--list--article{
    border: 1px orange solid;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

}
.second--list--article--container{
    position: relative;
    width: 100px;
    height: 100px
}
.second--list--article--container img:first-child{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.second--list--article--container img:last-child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    
}
.second--list--article--text--h2{
    text-align: center;
    font-size: 18px;
}
.second--list--article--text--p{
    font-size: 10px;
    text-align: center;

}

.three{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.three--image{
    width: 25%;
}
.three--image--img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.three--info{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 15px;
}
.three--info-p1{
    font-size: 35px;
}
.three--info-p2{
    font-size: 40px;
}
.three--info-span{
    padding: 20px;
    background-color: orange;
    width: 150px;
    text-align: center;
    border-radius: 25%;
}

.four{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    align-items: center;
    gap: 25px;

}
.four--image{
    position: absolute;
    width: 100%;
    height: 350px;
    top: 0;
    z-index: -1;
}

.four--image--img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.four--h1{
    color: white;
    font-size: 35px;
}
.four--p{
    color: white;
    width: 25%;
    text-align: center;
}
.four--div{
    display: flex;
    gap: 8px;
    align-items: center;
}
.four--div--span1{
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    text-align: center;

}
.four--div--span2,
.four--div--span3{
    color: white;
}

.end{
    display: flex;
    justify-content: space-around;
}
.end--ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.end--ul--first{
    font-weight: bolder;
    font-size: 24px;
    padding-bottom: 22px;
}
.end--ul--image{
    padding-bottom: 20px;
}


