<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Hello</p>
<form th:action="@{/}" method="post">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" th:value="${fname}" placeholder="Mike"><br><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" th:value="${lname}" placeholder="Walker"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>