@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
body h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
}

body { 
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    padding: 70px;
    gap:30px;
}

.text{
    width: 34%;
}
.text--title{
    font-weight: 500;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    
}
.list--container{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.list--container--text--title,
.list--container--text--text{
    margin: 0;
}
.list--container--image{
    width: 12%;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
#image{
    width: 35%;
}
