@media screen and (max-width:600px){
    .navbar{
        justify-content: center;
    }
    .hero img{
        display: none;
    }
    .hero h1{
        margin-top: 50px;
        text-align: center;
    }
    .hero p{
        font-size: 18px;
        text-align: center;
    }
    .hero-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    }
    .hero-btns.service-btn {
        margin: 0px;
    }
    .row{
        flex-direction: column;
    }
    .col-sm-6 {
        max-width: 100%;
    }
    .about{
        text-align: center;
    }
    .contact{
        text-align: center;
    }
}
