body{
    margin: 0;
}

.header{
    display: flex;
    justify-content:center;
    width: 80%;
    flex-direction: column;
    height: 400px;
    gap: 20px;
    
}

.header--up{
    display: flex;
    justify-content:space-evenly;
}
.header--up--icon{
    color: black;
    font-size: medium;
}
.header--middle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header--middle h1{
    font-size: 2.4rem;
    color: black;
}
.header--middle p{
    width: 24rem;
    text-align: center;
    color: black;
}
.header--middle span{
    border: green 1px solid;
    width: 5rem;
    text-align: center;
    padding: 2px;
    background-color: green;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
}

.header--down{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.header--down p{
    color: black;
    font-size: 1.1rem;
}
.header--down p:last-child{
    background-color: blue;
    color: aliceblue;
border-radius: 40%;
padding: 2px;
}

.image{
    width: 80%;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 400px;
    
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.image--cover{
    width: 80%;  
    height: 400px;
    position: absolute;
    top: 0;
    z-index: -2;
    background-image: linear-gradient(to bottom, #4a4f55, #6e737a, #949aa1, #bcc2ca, #e6ecf4);
}


main{
    width: 100%;
    height: 600px;
}



.picture{
    width: 80%;
    height: 300px;
}

.picture img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.list{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.list h2,p{
    margin: 0;
}
.navigation{
    list-style: none;
    padding: 0;
}

.navigation--li--div{
    display: flex;
    gap: 18px;
    margin-bottom: 1.1rem;
}

.navigation--li--div i{
    background-color: green;
    border-radius: 50%;
    padding: 2px;
    font-size: 0.9rem;
}



.create{
    width: 50%;
    padding: 20px
}
.plan{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

}
.plan--thing--image{
    width: 50px;
    height: 50px
}
.plan--thing--image img{
    width: 100%;
    height: 100%;
    object-fit: fill;

}
.plan--thing p{
color: green;
}
