<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head th:replace="~{fragments/header}"></head>

<body>

<nav sec:authorize="isAnonymous()" th:replace="~{fragments/login_user_navbat}"></nav>
<nav sec:authorize="isAuthenticated()" th:replace="~{fragments/logged_user_navbar}"></nav>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div   class='row mb-4 d-flex justify-content-around'>
        <div  th:each="entry: ${allBrands}" class="brand-section col-md-5 mr-auto d-flex flex-column">
            <h2 th:text = "'Car brand: '+${entry.key}">
                <span >Brand name</span>
            </h2>
            <div>Models:
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th>Picture</th>
                    </tr>
                    <tr th:each = "car : ${entry.value}">
                        <th>No</th>
                        <th th:text = "${car.name}">Model Name</th>
                        <th th:text = "${car.category}">Model Category</th>
                        <th th:text = "${car.startYear}">Model Start Year</th>
                        <th th:text = "${car.endYear}">Model End Year</th>
                        <th ><img alt="image" th:src="@{${car.imageUrl}}"
                                 class="img-thumbnail rounded"></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div>
             <footer> </footer>
    </div>
</div>
</body>
</html>
