<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments/header::head}"></head>

<body>

<div sec:authorize="isAnonymous()" >
    <div th:replace="~{fragments/login_user_navbat}"></div>
</div>

<div sec:authorize="isAuthenticated()" >
    <div th:replace="~{fragments/logged_user_navbar}"></div>
</div>

<div class="container-fluid">
    <h5 class="text-center text-white mt-5" th:text="${text}"></h5>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
