body{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}
.container{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    max-width: 15vw;
    height: 35rem;
    
    
}

span{
    border-width: -1px;
    border-color: black;
    border-style: solid;
    height: 60px;
}