.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-title {
  font-size: 48px;
  color: #333;
}

.home-text {
  font-size: 24px;
  color: #666;
}