@media screen and (max-width:600px) {
    body{
        width: fit-content;
        max-width: none;
    }
    .site-information-image{
        display: none;
    }
    .site-navigation{
        display: none;
    }
    .site-main{
        margin: 0;
    }
    .entry-header-title {
        width: 100%;
    }
    .site-logos-container{
        min-width: 600px;
    }
    .site-information-text{
        margin: 0 auto;
        text-align: center;
    }
    .entry-description {
        width: 100%;
    }
    .entry-title{
        font-size: 4.1rem;
    }
    .site-form form > p {
        flex-direction: column;
    }
    .site-form input {
       width: 100%;
    }
    .site-form button{
        margin: 0 auto;
    }
    .site-form{
        margin: 0;
    }
    .site-blog-container{
        margin: 0px;
    }
    .site-posts{
        flex-direction: column;
        align-items: center;
    }
    .site-post{
        width: 70%;
    }
    .site-footer{
        flex-direction: column;
        align-items: center;
    }
    .button-primary {
        width: 23%;
    }
    .entry-subtitle {
        font-size: 1.4rem;
    }
}   