section article header h1{
    size: 28px;
}

section article header p{
    font-style: italic;
}
section article p{
    size: 24px;
}

section{
    margin: 20px;
}

body{
    margin: 0px;
    padding: 0 px;
    background-color: #CCCCCC;
}