@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Raleway', sans-serif;
}
.first
{
    margin: 25px;
    background-color: #efefef;
    height: 700px;
    position: relative;
}
.first--container{
    width: 450px;
    position: absolute;
    top: 140px;
    left: 400px;
}
.shablon--title{
    font-size: 27px;
    color: #b0b0b0;
    padding-bottom: 15px;
}
.shablon--title--span{
    color: black;
    font-weight: 700;
}
.shablon--title--p{
    font-style: italic;
}
.shablon--title--span2{
    font-size: 80px;
    font-weight: 100;
    color: #bebebe;
    
}
.first--image{
    position: absolute;
    width: 800px;
    height: 700px;
    top: 0px;
    right: 258px;
}
.first--image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.second{
    margin: 25px;
    background-color: #efefef;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
}
.second--image{
    width: 25%;
    height: 400px;
}
.second--image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.second--text{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.second--text .shablon--title{
    font-size: 30px;
    font-weight: 300;
}
.second--text .shablon--title--p{
    padding-bottom: 15px;
    width: 70%;
}
.second--list{
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
}
.second--list li{
    background-color: #b0b0b0;
    padding: 10px;
    color: white;
    margin: 0px;
    width: 45px;
    text-align: center;
}

.three{
    margin: 25px;
    background-color: #efefef;
    height: 700px;
}
.three img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.four{
    margin: 25px;
    background-color: #efefef;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    padding: 80px;
}
.four--text{
    width: 25%;
}
.four--img{
    width: 50%;
}
.four--text .shablon--title{
    font-size: 43px;
}
.five{
    margin: 25px;
    background-color: #efefef;
    height: 700px;
    padding: 50px;
    position: relative;
}
.five--img1,
.five--img2,
.five--img3{
    width: 40%;
    height: 513px;
    position: absolute;
}
.five--img1 .yes,
.five--img2 .yes,
.five--img3 .yes{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.five--img1{
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.five--img2,
.five--img3{
    z-index: 0;
    height: 413px;
    width: 36%;
}
.five--img3{
top: 136px;
right: 100px;
}
.five--img2{
    top: 136px;
    left: 100px;
}

.six{
    margin: 25px;
    background-color: #efefef;
    height: 700px;
    padding: 50px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.six .shablon--title{
    text-align: center;
    font-size: 45px;
    padding-bottom: 25px;
}
.six .shablon--title--p{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;
}

.six-button{
    display: flex;
    width: 30%;
    justify-content: space-between;
    padding-bottom: 25px;
}
.six-button button{
    width: 46%;
    text-align: start;
}
.six-textAria{
    background-color: #efefef;
    width: 30%;
}
.six-span{
    background-color: black;
    color: white;
    padding: 5px;
    width: 30%;
    text-align: center;
}
.span{
    padding-top: 25px;
    
}