body{
    box-sizing: border-box;
}
div , section{
    display: flex;
    justify-content: center;
}

div{
    max-width: 65vw;
    display: flex;
}

div span{
    border:-1px black solid;
    width: 10rem;
}

.notes{
    flex-direction: column;
}

