<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head_fragment}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/fullNavigation}"></header>

    <section class="road" th:each="route : ${routes}" >
        <div>
            <h2 th:text="${route.name}">Title</h2>
            <p th:text="${route.description}">Very long description</p>
            <a th:href="@{'/routes/details/' + ${route.id}}" class="btn">Learn More</a>
        </div>
        <img th:each="picture : ${route.pictures}"
             class="rounded-circle w-75 ml-5" th:src="@{${picture.url}}" height="100%" th:alt="${picture.title}">
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer_fragment}"></footer>
</html>