@import url(https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif);
html{
    font-family: 'PT Sans';
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #d01919;
    padding: 8px;
}
.header--container{
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: white;
    justify-content: center;
    align-items: center;
}
.header--container--li{
    text-align: center;
}

.section{
    position: relative;
    width: 100%;
    height: 600px;
    color: white;
}
.section--img{
    position: relative;
    width: 100%;
    height: 100%;
}
.background{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section--nav{
    position: absolute;
    top: 0px;
    right: 70px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 80px;
    font-size: 20px;
}
.section--text{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}
.section--text--h2{
    font-size: 55px;
    letter-spacing: 10px;
}

.section--text--p{
    width: 500px;
    text-align: center;
    font-size: 19px;
}
.section--test--span{
    background-color: #d01919;
    padding: 10px;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
}
.section2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 120px;
}
.section2--span2{
    border-bottom: #d01919 2px solid ;
    width: 3%;
    color: #d01919;
    margin: 0 auto;
    
}
.section2--h2,
.section3--h2{
    font-size: 40px;
    padding: 30px;
    text-align: center;
}
.section2--container,
.section3--container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.section2--container--article,
.section3--container--article{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.article--img{
    width: 65px;

}
.shablon--p{
    color: #db5828;
    font-size: 20px;
}
.section2--container--article--p{
    width: 362px;
    text-align: center;
    font-size: 22px;
}

.section3{
    background-color: #efefef;
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section3--container--article{
    width: 400px;

}
.section3--container--article--contaier{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    overflow: hidden;
}
.img2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section3--container--article--h3{
    font-size: 20px;
}
.section3--container--article--p{
    width: 300px;
    font-size: 18px;
    text-align: center;
    color: #a6a1ac;
}

.footer{
    background-color: #d01919;
}

.footer--p{
    text-align: center;
    font-size: 19px;
    padding: 10px;
}