
header{
    background-color:#f2dcbb ;
    padding: 5px 15px;
}

 body{
    padding: 15px;
    background-color: #f9f7cf ;
}

footer {
    background-color:#f2dcbb ;
    padding: 5px 15px;
}
