.part--first{
    text-align: center;
    position: relative;
    width: 100%;
    height: 500px;
}
.part--first img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center top;
}
.part--first .spanOne{
    position: absolute;
    left: 20%;
    color: white;
    top:5%;

}
.part--first .spanTwo{
    position: absolute;
    color: white;
    top:5%;
    left: 80%;
}
.part--first h1{
    position: absolute;
    color: white;
    top: 20%;
    left: 40%;
}
.part--first p{
    position: absolute;
    color: white;
    top: 35%;
    left: 37%;
}
.part--first button{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    background-color: brown;
}
.part--first .span3{
    position: absolute;
    color: aliceblue;
    bottom: 10%;
}
.part--first .span3 i{
    margin-left: 8px;
    border: 2px blue solid;
    border-radius: 14px;
    padding: 2px 6px;
    background-color: blue;
}
.part--two{
    width: 100%;
}
.part--two__image{
    display: inline-block;
    width: 45%;
}
.part--two_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.part--two__text{
    display: inline-block;
    width: 45%;
}

.part--two__text h2{
    
}