.viewport{
    width: 100vh;
    position: relative;
}

.viewport:first-of-type{
    background-color: blue;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.viewport:last-of-type{
    background-color: #00bf72;
    background-image: linear-gradient(to right, #3e7ad4, #5973d4, #716bd2, #8861cd, #9d55c4);
}
.viewport .card {
    width: 40vw;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);

}

.viewport .card img{
    width: 100%;
}
